@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900;
    @apply text-gray-300;
    @apply text-lg;
  }

  a {
    @apply text-blue-400;
  }

  h1 {
    @apply text-3xl;
    @apply font-bold;
    @apply pb-2;
    @apply mt-4;
    @apply mb-2;
  }

  h2 {
    @apply text-2xl;
    @apply font-bold;
    @apply mb-3;
    @apply pt-4;
    @apply text-gray-500;
    @apply border-b;
    @apply border-gray-500;
  }

  h3 {
    @apply text-xl;
    @apply font-bold;
    @apply pb-2;
    @apply mt-10;
    @apply mb-3;
  }

  .copy-button {
    @apply bg-gray-500;
    @apply hover:bg-gray-700;
    @apply text-white;
    @apply px-2;
    @apply rounded;
    @apply text-sm;
  }

  p {
    @apply pb-4;
  }

  ul {
    @apply list-disc;
    @apply pl-5;
    @apply pb-2;
  }

  ol {
    @apply list-decimal;
    @apply pl-5;
    @apply pb-2;
  }

  li {
    @apply pb-2;
  }

  hr {
    @apply mt-6;
    @apply mb-10;
    @apply mx-10;
  }

  .code_block {
    @apply mt-2;
    @apply mb-6;
    @apply rounded-md;
    @apply border;
    @apply border-gray-500;
    color: #d6deeb;
    @apply bg-gray-700;
    position: relative;
  }

  .code_line {
    display: table-row;
  }

  .code_line_number {
    display: table-cell;
    text-align: right;
    user-select: none;
    @apply bg-gray-900;
    @apply pl-4;
    @apply pr-3;
    @apply text-gray-500;
  }

  .code_line_number_blank {
    display: table-cell;
    text-align: right;
    user-select: none;
    @apply bg-gray-900;
    @apply pl-4;
    @apply pr-3;
    @apply text-gray-500;
    @apply py-1;
    @apply rounded-tl-md;
  }

  .code_line_number_output {
    display: table-cell;
    text-align: right;
    user-select: none;
    @apply bg-gray-900;
    @apply pl-4;
    @apply pr-3;
    @apply text-gray-500;
    @apply rounded-bl-md;
    @apply pt-1;
    @apply pb-1;
  }

  .code_line_number_first {
    @apply pt-2;
    @apply rounded-tl-md;
  }

  .code_line_number_last {
    @apply pb-2;
    @apply rounded-bl-md;
  }

  .code_line_content {
    display: table-cell;
    @apply pl-4;
  }

  .code_line_content_single_line {
    display: table-cell;
    @apply pl-4;
    @apply py-3;
  }

  .code_console_log_block {
    @apply mt-2;
    @apply rounded-t-md;
    @apply border-t;
    @apply border-l;
    @apply border-r;
    @apply border-b;
    @apply border-gray-500;
    color: #d6deeb;
    @apply bg-gray-700;
  }

  .code_block_output {
    @apply mb-4;
    @apply rounded-b-md;
    @apply border-b;
    @apply border-l;
    @apply border-r;
    @apply border-l-gray-500;
    @apply border-r-gray-500;
    @apply border-b-gray-500;
    @apply border-t-gray-400;
    color: #d6deeb;
    @apply bg-gray-800;
  }
}
